body {
	background-color: #FFFF99;
	text-align: center;
	font-family: "Arial Black"
}

img {
	border: 2px solid black;
}

h1 {
	color:BlueViolet;
}
a{
	color: #FF0066;
}
li{
	list-style-type: none;
	text-align: center;
}
.etsy{
	color: #FF9900;
}
.WNYC{
	color: #3333CC;
}