body{
	width:100%;
	margin: 0 auto;
	font-size: 100%
	background-size: cover;
	background-color: #85335C;
}


.top{
	position:absolute;
	top:5em;
	width:100%;
	height:3em;
	font-weight: bold;
	color: #F5EACD;
	text-align: center;
} 

.bottom{
	postion: absolute;
	bottom: 5em;
	width: 100%;
	height: 3em;
	font-weight: bold;
	color: #F5EACD;
	font-family: Arial;
	text-align: center;
	font-size: 3em;
}

.nav{
	width: 100%
	margin: 20px 0;
}

.nav ul{
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav ul li{
	width: 25%;
	float: left;

}

.nav ul li a{
	display: block;
	width: 100%;
	color: #F5EACD;
	text-decoration: none;
	font-family: Arial;
	font-size: 2em;
	font-weight: bold;
	background-color: #05210E;
}
h1{
	font-family: Arial;
	color: #F5EACD
	text-align: center;
	font-size: 5em;
}  

h2{
	font-family: Arial;
	text-align: center;
	font-size: 3em;	
	color: #F5EACD;
}

a{
	font-family: Arial; 
	font-size: 2em;
	color: #66FFCC;
}

#location{
	text-align: center;
}

p{
	font-family: Arial;
	text-align: center;
	font-size: 2em;
}

#accommodations{
	text-align: center;
}